@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --catalina:#06327d;
  --bluetiful:#2b70e4;
  --vegan:#209d5c;
  --sunglow:#FFd034;
  --lightblue:#cadbf8;
  --black:#000000;
  --white:##ffffff;
}

.page-wrapper{
  max-width: 1200;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 2rem;  
}


img{max-width:100%;}


header {
  background: var(--catalina);
  color: #ffffff;
  border-bottom: 15px var(--sunglow) solid;
  
}

.burger{display:none;}

body {font-size: 1.125rem;
line-height: 1.5;
margin:0;}

h1 img {
  text-align: center;
  font-size: 3rem;
  display: inline-block;
}

h1 {line-height:1.1667;
text-transform:uppercase;
font-weight: normal;
text-align: center;

margin: 0px;}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
/*   margin-left:5rem;
  margin-right:5rem; */
  margin:auto;
}


 
a {
  color:white;
  text-decoration:none;
  text-align:center;
}

h2{ display: flex;
font-weight:normal;
  text-transform:uppercase;
  font-size: 2.5rem;
  line-height:1.1667;
}


.pic {margin: 5px;} 
.code{margin-top:10px;}
img{border-radius: 10px;}

h3 
{font-weight:normal;
line-height:1.1667;
font-size:1.75rem;}
.products{background-color:var(--lightblue);}

.coffee {
  padding-bottom: 30px;
  padding-left:10px;
  background-size:cover;
}

.button{
  background-color: var(--vegan);
  padding: 7px;
  text-transform:uppercase;
  border-radius: 10px;
  display: inline-block;
  font-weight:400;
  width:50%;
  
}

.push{
  background-color:var(--catalina);
  padding: 7px;
  text-transform:uppercase;
  border-radius: 10px;
  display: inline-block;
  font-weight:400;
}
.container{display:flex;}



footer{background-color:var(--catalina);
border-top: 15px var(--sunglow) solid;
text-align:center;
color:white;
 
}

@media (min-width: 650px) {
  .coffee {
    display: grid;
    grid-template-rows: 1fr 1fr  ;
    grid-template-columns: 1fr 1fr;
    gap:15px;
  }
  .drink {grid-row:1/2;}
  .card1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 50px;
  }
  .card2 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;
  }
  .card3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .card4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .code {padding-top:50px;}
  p {padding-bottom:25px;}
}




@media (min-width: 1000px) {
  .coffee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:15px;
  }
  header {
    display:grid;
    grid-template-columns:1fr 1fr;
  }
  nav{grid-column:2/3;
  padding-top:2rem;}

  .card1 {
    grid-column: 1/2;
  }
  .card2 {
    grid-column: 2/3;
  }
  .card3 {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 50px;
  }
  .card4 {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-top: 50px;
  }
  .page-wrapper{border:25px var(--catalina) solid;
  padding:0;}
  footer{border-bottom:5px var(--catalina) solid;}
}
@media (max-width: 649px) {
  .burger {
    display: inline;
    text-align: center;
    height: 2rem;
    width: 2rem;
    
  }
  nav {
    text-align: center;
  }

  .nav {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:large;
    margin:0;
    background: #06327d;
    position: absolute;
    right: -100%;
    top: 152px;
    width: 50%;
 height: calc(82% - 152px); 

    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    transition: all 400ms;
  }
  .nav-active {
    right: 0;
  
  }
  .navlink {
    text-align: center;
    margin: 1rem;
  }
  
}
